.folderContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.fileContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.nestedFilesAndfolder {
  margin-left: 8px;
}

.commonFolderAndFile {
  color: white;
  padding: 2px 4px;
  border-radius: 8px;
  cursor: pointer;
}

.folder {
  background-color: black;
}

.file {
  background-color: blue;

}